<ion-view view-title="发型" can-swipe-back=false>

    <ion-nav-buttons side="right">
        <button class="button button-clear icon-left ion-ios-arrow-back" ng-click="back()">
            返回
        </button>
    </ion-nav-buttons>

    <ion-content align="center">
        <button class="button button-block button-light" style="margin:0 auto;" ng-click="setStyle('FaXing','辫子')">
            辫子(盘发)
        </button>
        <button class="button button-block button-light" style="margin:0 auto;" ng-click="setStyle('FaXing','短发')">
            短发（齐肩不过肩）
        </button>
        <button class="button button-block button-light" style="margin:0 auto;" ng-click="setStyle('FaXing','长发')">
            长发（过肩）
        </button>
        <button class="button button-block button-light" style="margin:0 auto;" ng-click="setStyle('FaXing','戴帽子')">
            戴帽子
        </button>
    </ion-content>

</ion-view>