<ion-view view-title="衣服颜色" can-swipe-back=false>

    <ion-nav-buttons side="right">
        <button class="button button-clear icon-left ion-ios-arrow-back" ng-click="back()">
            返回
        </button>
    </ion-nav-buttons>

    <ion-content align="center">
        <button class="button button-block button-light" style="margin:0 auto;" ng-click="setStyle('YiFuYanSe','红.粉.紫')">
            红/粉/紫
        </button>
        <button class="button button-block button-light" style="margin:0 auto;" ng-click="setStyle('YiFuYanSe','白')">
            白
        </button>
        <button class="button button-block button-light" style="margin:0 auto;" ng-click="setStyle('YiFuYanSe','黄')">
            黄
        </button>
        <button class="button button-block button-light" style="margin:0 auto;" ng-click="setStyle('YiFuYanSe','蓝.绿')">
            蓝/绿
        </button>
        <button class="button button-block button-light" style="margin:0 auto;" ng-click="setStyle('YiFuYanSe','黑')">
            黑
        </button>
        <button class="button button-block button-light" style="margin:0 auto;" ng-click="setStyle('YiFuYanSe','灰')">
            灰
        </button>
        <button class="button button-block button-light" style="margin:0 auto;" ng-click="setStyle('YiFuYanSe','无法分辨主要颜色')">
            无法分辨主要颜色
        </button>
    </ion-content>

</ion-view>